* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
}

.wrapper {
    display: grid;
    margin: auto;
    grid-template-columns: 35% 65%;
}

aside {
    padding: 50px;
}

header {
    margin-bottom: 100px;
}

.avatar {
    display: block;
    margin: 20px auto;
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

.left-column {
    background-color: rgb(204, 204, 204);
}

.right-column {
    padding: 50px;
    background-color: #696969;
}

.png-git {
    width: 80px;
}

.svg-rss {
    width: 120px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
