* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    margin: 50px;
}
.wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
}
header {
    margin-bottom: 100px;
}
.Avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 280px;
}

.rightColumn {
    background-color: #696969;
    padding: 50px;
}